

.box0 {
    height: 40px;
    width: 450px;
    padding: 50px;
    margin: 50px;
    border: 10px solid black;
    background-color: chocolate;
    display: flex;
    align-items: center;
}


.box {
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 50px;
    background-color: rgb(102, 90, 90);
}

.box2 {
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 50px;
    position: relative;
    top: -290px;
    bottom: 0px;
    left: 300px;
    right: 0px;
    background-color: rgb(255, 193, 6);
}

.pic {
    display: block;
    position: relative;
    top: -210px;
    bottom: 0px;
    left: 300px;
    right: 0px;
}


.box3 {
    height: 100px;
    width: 510px;
    padding: 20px;
    margin: 50px;
    position: relative;
    top: -300px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 10px solid black;
    background-color: rgb(9, 155, 223);
    display: flex;
    align-items: center;
}

.box4 {
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 50px;
    position: relative;
    top: -290px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(6, 255, 68);
}

.box5 {
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 50px;
    position: relative;
    top: -580px;
    bottom: 0px;
    left: 300px;
    right: 0px;
    background-color: rgb(255, 64, 6);
}

.pic2 {
height: fit-content;
width: fit-content;
position: relative;
top: -870px;
bottom: 0px;
left: 670px;
right: 0px;
}